body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #1b1b1b;
  background-color: #f8f8f8;
}

/* font style */
h1 {
  font-family: "Abril Fatface", serif;
  letter-spacing: 8px;
  font-size: 50px;
}

h2 {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 400;
  color: #97b853;
  margin-bottom: 20px;
}

h3 {
  color: #808080;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 40px;
}

h5 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 30px;
}

.navbar {
  padding: 30px 0;
  border-bottom: #1b1b1b solid 2px;
}

.navbar-brand {
  font-family: "Abril Fatface", serif;
  font-size: 35px;
}

button {
  font-size: 23px;
  transition: color 0.2s ease-in;
}

button:hover {
  color: #bfbfbf;
}

.link-left {
  border: none;
  background-color: #f8f8f8;
  margin-right: 30px;
}

.link {
  border: none;
  background-color: #f8f8f8;
}

/* header section */

.header {
  padding-top: 150px;
  position: relative;
}

.header h1 {
  margin-bottom: 40px;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.header h3 {
  font-weight: 300;
}

.header .header-right {
  position: absolute;
  top: 140px;
  right: -10px;
  display: flex;
  animation: slideInRight 1.5s forwards;
}

@keyframes slideInRight {
  from {
    right: -800px;
  }
  to {
    right: -10px;
  }
}

.header-right img {
  position: relative;
  display: inline-block;
}

.header-left {
  margin-top: 50px;
}

.header-img {
  border: #1b1b1b solid 2px;
  padding-left: 280px;
}

#header-img-left {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
}

#header-img-right {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
/* spacing */

.overview {
  margin-top: 200px;
}

#full-img {
  margin-top: 100px;
  margin-bottom: 100px;
}

.bottom {
  margin-bottom: 100px;
}

.center-image {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.content .container {
  padding-left: 150px;
  padding-right: 150px;
}

.challenges-section {
  margin-bottom: 20px;
}
