body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #1b1b1b;
  background-color: #f7f5f4;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 30px 0;
  border-bottom: #1b1b1b solid 2px;
}

.navbar-brand {
  font-family: "Abril Fatface", serif;
  font-size: 35px;
}

button {
  font-size: 23px;
  transition: color 0.2s ease-in;
}

button:hover {
  color: #bfbfbf;
  cursor: pointer;
}

.link-left {
  border: none;
  background-color: #f7f5f4;
  margin-right: 30px;
}

.link {
  border: none;
  background-color: #f7f5f4;
}

.header {
  margin-top: 50px;
  border: #1b1b1b solid 2px;
  border-radius: 10px;
  background-color: white;
}

.header-left {
  padding: 60px 0px 60px 100px;
}
.col {
  border: #1b1b1b solid 2px;
  border-radius: 10px;
}

#header-intro {
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 25px;
}

.header-right {
  padding-top: 20px;
  padding-left: 150px;
}
/* case links */
.cases {
  margin-top: 100px;
  margin-bottom: 90px;
}

.case {
  overflow: hidden;
  padding: 35px;
  height: 400px;
  background-color: white;
  transition: background-color 0.5s ease-in-out;
}

#case-1 {
  margin-right: 50px;
}

#case-1:hover {
  cursor: pointer;
  background-color: #cbdba9;
}

#case-img {
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

#case-2 #case-img {
  margin-top: -5px;
  width: 60%;
  box-shadow: none;
}

#case-2:hover {
  cursor: pointer;
  background-color: #e1e9f4;
}

#case-3:hover {
  cursor: pointer;
  background-color: #cfebf4;
}

.image-container-g {
  background-image: url("/img/vector_g.png");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container-b {
  background-image: url("/img/vector_b.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: #1b1b1b solid 2px;
}

hr {
  border-top: #1b1b1b solid 2px;
}

/* font style */
h1 {
  font-family: "Abril Fatface", serif;
  letter-spacing: 8px;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
}
